# .gitignore

.idea/

build/
cmake-build-debug/
cmake-build-release/

# Benchmark Results
benchmark_results.json
benchmark_custom.json

# Output files from the word counter itself.
output_*.txt

# The downloaded data files.
*.xml
*.xml.bz2